/* styles.css */
:root {
  --primary: #1e394f;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body,
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Cormorant", sans-serif;
  overflow-x: hidden;
  width: 100%;
  max-width: 450px; /* Batasi lebar maksimum */
  margin: 0 auto; /* Pusatkan konten */
}

/* Tampilan Awal */
#opening-screen {
  width: 100%;
  height: 100vh;
  background: url("assets/1.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  transition: transform 1s ease-in-out; /* Animasi slide up */
}

#opening-screen .content {
  margin-top: 150px;
  padding: 20px;
  border-radius: 10px;
}

#opening-screen h2 {
  font-size: 1em;
  margin: 10px 0;
}

#opening-screen h1 {
  font-family: "Playfair Display";
  font-weight: 100;
  font-size: 2.5em;
  margin: 10px 0;
}

#opening-screen p {
  font-size: 1.4em;
  font-weight: 500;
  margin: 5px 0;
}

#open-invitation {
  margin-top: 1rem;
  padding: 5px 20px;
  font-family: "Poppins";
  font-size: 0.7rem;
  border: 1.2px solid white;
  border-radius: 5px;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

/* Landing Page */
section {
  display: none; /* Sembunyikan semua section awalanya */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

#home {
  display: none; /* Sembunyikan home awalanya */
  background-color: #e9f0fd;
  color: #333;
  padding: 20px;
  height: 100vh;
}

#home .container {
  background-color: rgba(255, 251, 251, 0.6);
  border-radius: 130px;
  max-width: 280px;
  height: 580px;
  margin-left: 73px;
}

#home img {
  padding-top: 9px;
  width: auto;
  height: 385px;
  border-radius: 130px 130px 0 0;
  box-shadow: inset 2px;
}

#home h2 {
  font-size: 0.9rem;
  margin: 10px 0;
  color: var(--primary);
}

#home h1 {
  font-family: 'Dancing Script';
  font-size: 2rem;
  text-shadow: #fff;
  margin: 0;
  color: #a09c10;
}

#home h3 {
  font-size: 0.8em;
  font-family: 'Poppins', serif;
  font-style: italic;
  font-weight: 600;
  margin: 8px 0;
  color: var(--primary);
}

.save-the-date {
  font-family: 'Cormorant';
  font-size: 1rem;
  font-weight: 100;
  font-style: italic;
  background-color: var(--primary);
  color: #fff;
  border-radius: 15px;
  margin-top: 10px;
  width: 130px;
}

/* Animasi Slide Up */
.slide-up {
  transform: translateY(-100%);
}
